/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.pixabay.com/photo/2016/10/10/11/09/field-1728099_1280.jpg");
    background-size: 100vw;

  }

nav {
	transition: backdrop-filter 0.3s ease;
	display: flex;
	background-color: rgba(200, 210, 220, 0.2);
	padding: 0px;
	justify-content: center;
	z-index: 1;
	backdrop-filter: blur(
		2px
	);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 1px 10px 10px rgba(0, 20, 50, 0.1);
	min-height: 50px;
	width: 100vw;
	align-items: center;
}

nav:hover {
	backdrop-filter: blur(8px);
}

nav a {
	z-index: 2;
	transition: border 0.2s ease;
	text-decoration: none;
	color:black;
	padding: 15px;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-left: 12px;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 999px;
}

nav a:hover {
	border: 1px solid black;
  background-color: #6196A6;
	border-radius: 999px;
	backdrop-filter: blur(8px);
  color: white;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 9px;
   
}

#homepage{
  background-color: rgb(0 0 0 / 5%);
  padding: 5px 5px 20px 5px;
  text-align: center;
}

.btn-Survey{
  background: linear-gradient(to right, #6196A6, #9BB0C1);
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: solid;
    
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.btn-Survey:hover {
  transform: scale(1.1);
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

/* Hide form elements initially */
/* form,
section:not(#homepage) {
    display: block;
} */


#dashboard {
  padding: 10px 0px 10px 0px;
  display: block;
}

.mood-summary {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px 0 50px 0;
  margin: 0px;
  margin-bottom: 30px;
  background-color: #FFE6E6;
}

#mood-chart-summary {
 display: inline-block;
  margin: 0 auto;
  height: 250px;
}

#weekly-trend-chart{
  display: inline-block;
  margin: 0 auto;
  height: 250px;
}

.trend-analysis {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px 0 50px 0;
  margin: 0px;
  margin-bottom: 30px;
  background-color: #F7F6BB;
}

.mood-map {
  display: inline-block;
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 10px 0 20px 0;
  background-color: #F0F3FF;
}

/* Collapse to full width column */
@media only screen and (max-width: 750px) {
  .mood-summary {
      width: 100%;
  }

  .trend-analysis {
      width: 100%;
  }

  .mood-map {
      width: 100%;
  }
}

#resources-support{
  padding-top: 310px;
  margin-top: 50px;
 
}

.resources-support{
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 40px 0 130px 0;
  margin: 0px;
  background-color: #F1EAFF;
  margin-bottom: 50px;
}

.feedback-suggestions{
  
}
.feedback-suggestions{
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 40px 0 40px 0;
  background-color: #E1F0DA;  
}

@media only screen and (max-width: 660px){
  .resources-support{
    width: 100%;
  }
  .feedback-suggestions{
    width: 100%;
  }
}



.btn-masterful {
  background: linear-gradient(to right, #6196A6, #9BB0C1);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  padding: 15px 30px; 
  font-size: larger;
}

.btn-masterful .icon {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  font-size: 26px;
}
.btn-masterful .btn-txt{
  padding-left: .9rem;
}
.btn-masterful:hover {
  background-color: #018dc5;
}

.btn-masterful:hover .icon {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {transform: translateY(-50%) rotate(0deg);}
  to {transform: translateY(-50%) rotate(360deg);}
}
.attribute{
  position: absolute;
  bottom: 10px;
}


/* survey form */

/* #mood-survey{
  text-align: center;
} */

.row-header{
   text-align: center;
   padding-top: 20px;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 5px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 10px 0;
  text-align: center;
}

/* input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"], */
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 80%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.btn-survey-submit{
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  /* margin-bottom: 10px; */
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

/* ....................... */